@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
  --green: #DFF3E3;
}

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  width: 100%;
  overflow-x: hidden;
  background-color: var(--green);
}

::selection{
  background-color: black;
  color: white;
}